<!DOCTYPE html>
<!--suppress ALL -->
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <app-player-entry [hidden]="hidePlayerEntry" [players]="players" [numberOfPlayers]="2" (playersEntered)="playersEntered($event)"></app-player-entry>
      <app-scoreboard [hidden]="hideScoreboard" [players]="players" (resetForm)="reset()"></app-scoreboard>
    </div>
  </body>
</html>